meteo-jaxb/src/main/dtd/extremeforecast/v1_0/extremeforecast.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="weather">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="productdescription"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="img"/>
                <xs:element ref="title"/>
                <xs:element ref="productheader"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="guielement"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="guilist"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="locationlist"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="text"/>
                    <xs:element ref="comment"/>
                    <xs:element ref="br"/>
                    <xs:element ref="hr"/>
                </xs:choice>
                <xs:element maxOccurs="unbounded" ref="time"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="productdescription" type="xs:string"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="productheader">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="displaytime"/>
                <xs:element ref="br"/>
                <xs:element ref="hr"/>
                <xs:element ref="img"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="guielement">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.guielement"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="guilist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="guilistelement"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.guilist"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="locationlist">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.locationlist"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="value"/>
                <xs:element ref="variable"/>
                <xs:element ref="displaytime"/>
                <xs:element ref="blank"/>
                <xs:element ref="tab"/>
                <xs:element ref="br"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="subtitle">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="value"/>
                <xs:element ref="variable"/>
                <xs:element ref="displaytime"/>
                <xs:element ref="blank"/>
                <xs:element ref="br"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="comment" type="xs:string"/>
    <xs:element name="time">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="subtitle"/>
                    <xs:element ref="text"/>
                    <xs:element ref="comment"/>
                    <xs:element ref="br"/>
                    <xs:element ref="hr"/>
                </xs:choice>
                <xs:element ref="forecasttype"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.time"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="forecasttype">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="subtitle"/>
                    <xs:element ref="text"/>
                    <xs:element ref="comment"/>
                    <xs:element ref="br"/>
                    <xs:element ref="hr"/>
                </xs:choice>
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="location"/>
                    <xs:element ref="repeat"/>
                    <xs:element ref="slocation"/>
                </xs:choice>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="br"/>
                    <xs:element ref="hr"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.forecasttype"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="repeat">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="location"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="br"/>
                    <xs:element ref="hr"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.repeat"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="location">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="br"/>
                <xs:element ref="hr"/>
                <xs:element ref="header"/>
                <xs:element ref="br"/>
                <xs:sequence maxOccurs="unbounded">
                    <xs:choice>
                        <xs:element ref="parameter"/>
                        <xs:element ref="in"/>
                    </xs:choice>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="br"/>
                        <xs:element ref="hr"/>
                    </xs:choice>
                </xs:sequence>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.location"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="slocation">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:choice>
                    <xs:element ref="parameter"/>
                    <xs:element ref="in"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="br"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.slocation"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="guilistelement">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.guilistelement"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="value">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.value"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="variable">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.variable"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="header" type="xs:string"/>
    <xs:element name="br">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hr">
        <xs:complexType/>
    </xs:element>
    <xs:element name="displaytime">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.displaytime"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameter">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="comment"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="br"/>
                <xs:element ref="in"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="text"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="br"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.parameter"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="in">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="forecast"/>
                <xs:element ref="value"/>
                <xs:element ref="variable"/>
                <xs:element ref="br"/>
                <xs:element ref="newitem"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="forecast">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.forecast"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="img">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="br"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.img"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="blank">
        <xs:complexType/>
    </xs:element>
    <xs:element name="tab">
        <xs:complexType/>
    </xs:element>
    <xs:element name="newitem">
        <xs:complexType/>
    </xs:element>
    <xs:attributeGroup name="attlist.guielement">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="type" use="required"/>
        <xs:attribute name="descript"/>
        <xs:attribute name="list"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.guilist">
        <xs:attribute name="name"/>
        <xs:attribute name="loop"/>
        <xs:attribute name="type"/>
        <xs:attribute name="location_ids"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.locationlist">
        <xs:attribute name="location_ids"/>
        <xs:attribute name="name"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.guilistelement">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="key" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.time">
        <xs:attribute name="vfrom" use="required"/>
        <xs:attribute name="vto" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.forecasttype">
        <xs:attribute name="name" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.parameter">
        <xs:attribute name="name" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.repeat">
        <xs:attribute name="loop" use="required"/>
        <xs:attribute name="type"/>
        <xs:attribute name="parent_id"/>
        <xs:attribute name="forecast"/>
        <xs:attribute name="input"/>
        <xs:attribute name="name"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.location">
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="type"/>
        <xs:attribute name="name"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.slocation">
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="type"/>
        <xs:attribute name="name"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.value">
        <xs:attribute name="src" use="required"/>
        <xs:attribute name="par" use="required"/>
        <xs:attribute name="pos" use="required"/>
        <xs:attribute name="run"/>
        <xs:attribute name="vfrom"/>
        <xs:attribute name="vto"/>
        <xs:attribute name="format"/>
        <xs:attribute name="lang"/>
        <xs:attribute name="symbolset"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.variable">
        <xs:attribute name="src" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.displaytime">
        <xs:attribute name="time" use="required"/>
        <xs:attribute name="display" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.forecast">
        <xs:attribute name="name"/>
        <xs:attribute name="termin"/>
        <xs:attribute name="lang"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="attlist.img">
        <xs:attribute name="src" use="required"/>
    </xs:attributeGroup>
</xs:schema>
